.button{
   color: #fff;
    background-color: #212A2F;
    border: 1px solis #212A2F;
    padding: 16px 10px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.buttonWhite{

    display: block;
     width: 100%; 
    margin-bottom: 10px;
    margin: 5px;
    text-align: center;
    color: #212A2F;
    background-color: #fff;
    border:none;
    padding: 16px 10px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
   cursor: pointer;

}